jsonschema
requests
# Para validar fechas y horas acorde a ISO 8601
isodate
# Para validar URIs
rfc3987
# Para exportar CSVs en unicode
unicodecsv
# Para leer y escribir XLSXs
openpyxl>=2.4,<2.5
# Para consultar programáticamente la API de CKAN
ckanapi==4.0
functools32
urllib3
