interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://datos.gob.ar/data.json
  response:
    body: {string: !!python/unicode "{\n  \"title\": \"Datos Argentina\", \n  \"description\"\
        : \"Datos Argentina. Portal de datos abiertos de la Rep\\u00fablica Argentina.\
        \ Encontr\\u00e1 datos p\\u00fablicos en formatos abiertos. Son tuyos: \\\
        u00a1usalos, modificalos y compartilos!\", \n  \"superThemeTaxonomy\": \"\
        http://datos.gob.ar/superThemeTaxonomy.json\", \n  \"publisher\": {\n    \"\
        mbox\": \"datosargentina@jefatura.gob.ar\", \n    \"name\": \"Datos Argentina\"\
        \n  }, \n  \"themeTaxonomy\": [\n    {\n      \"label\": \"Agroganader\\u00eda,\
        \ pesca y forestaci\\u00f3n\", \n      \"id\": \"agri\", \n      \"description\"\
        : \"Por ejemplo: 'Lecher\\u00eda: precio pagado al productor' o 'Superficie\
        \ forestada'.\"\n    }, \n    {\n      \"label\": \"Econom\\u00eda y finanzas\"\
        , \n      \"id\": \"econ\", \n      \"description\": \"Por ejemplo: 'Deuda\
        \ p\\u00fablica'. \"\n    }, \n    {\n      \"label\": \"Educaci\\u00f3n,\
        \ cultura y deportes\", \n      \"id\": \"educ\", \n      \"description\"\
        : \"Por ejemplo: \\u201cRegistro de Establecimientos Educativos\\u201d.\"\n\
        \    }, \n    {\n      \"label\": \"Energ\\u00eda\", \n      \"id\": \"ener\"\
        , \n      \"description\": \"Por ejemplo: 'Productos mineros exportados' o\
        \ 'Precios del GNC'.\"\n    }, \n    {\n      [...]
[...]
